

body{
	
	background-image:url(background.jpg);
}

.heading{
		margin:auto;
		width:620px;
		height:70px;
}

.margin-on-top{
		margin-top:100px;
		margin-bottom:30px;
}
.center-box{
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	margin:auto;
	background-color:rgba(1,1,1,0.2);
	border-radius:15px;
	width:800px;
	height:300px;
}

.common-text{
		
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size:30px;
}
